section.advantages
    .wrapper
        h1.page__title-h1 Что вас ждёт после питания по&nbsp;HEALTHY RATION?
        .advantages-items
            .advantages-item
                .page__icon.page__icon_immuno
                .page__text.page__text_bold Повысится иммунитет
                p.page__text Повысится иммунитет * рацион Holy Basil сформирует правильную и сильную микрофлору
            .advantages-item
                .page__icon.page__icon_young
                .page__text.page__text_bold Продлится молодость
                p.page__text Продлиться молодость * в основу заложены принципы Anti - Age питания
            .advantages-item
                .page__icon.page__icon_skinGood
                .page__text.page__text_bold Кожа, волосы и&nbsp;ногти станут здоровыми без уколов
                p.page__text Кожа, волосы и ногти станут здоровыми * улучшая усваиваемость, организм наполнится требуемыми микроэлементами
            .advantages-item
                .page__icon.page__icon_happy
                .page__text.page__text_bold Стресс сменится чувством счастья
                p.page__text Стресс смениться чувством счастья * чистый организм по новому запустит гормональные процессы 
            .advantages-item
                .page__icon.page__icon_act
                .page__text.page__text_bold Увеличатся энергия и&nbsp;концентрация
                p.page__text Увеличится энергия и концентрация * теперь еда будет наполнять, а не отягощать
            .advantages-item.page_hidden
                .page__icon.page__icon_harmony
                .page__text.page__text_bold Появится психологическая стабильность
                p.page__text Нормализуется вес * высокий метаболизм наладит внутренний энергообмен
            .advantages-item
                .page__icon.page__icon_fit
                .page__text.page__text_bold Нормализуется вес
                p.page__text Нормализуется вес * высокий метаболизм наладит внутренний энергообмен
            .advantages-item.page_hidden
                .page__icon.page__icon_sleep
                .page__text.page__text_bold Наладится сон
                p.page__text Нормализуется вес * высокий метаболизм наладит внутренний энергообмен
            .advantages-item.page_hidden
                .page__icon.page__icon_good
                .page__text.page__text_bold Улучшится самочувствие
                p.page__text Нормализуется вес * высокий метаболизм наладит внутренний энергообмен
        .advantages__img
            img.page__img.page_desktop(src="assets/img/img-clouds-left.png", alt="")
            img.page__img.page_mobile(src="assets/img/img-clouds-left-mobile.png", alt="")
            img.img-bg.img-bg_bird(src="assets/img/img-bird.png", alt="")
            h2.page__title-h2 Приятый бонус от питания рационами Holy Basil — похудение!