section.article
        .wrapper
            h1.page__title-h1 Твой источник здоровья и энергии
            .article-items
                .article-items__item
                    .page__icon.page__icon_science
                    h4.page__title-h4 Разработано нутрицилогами
                    p.page__text В нашей команде работают профессионалы и эксперты здорового питания
                .article-items__item
                    .page__icon.page__icon_protein
                    h4.page__title-h4 Отсутсвие агрессивных белков
                    p.page__text В наших рационах нет глютена, молочных продуктов, яиц и других сложных для усвоения белков
                .article-items__item
                    .page__icon.page__icon_oil
                    h4.page__title-h4 Качественные масла
                    p.page__text Мы используем только оливковое, рыжиковое и другие нерафинированные масла, насыщенные Омега 3 и 6 9
                .article-items__item
                    .page__icon.page__icon_fresh
                    h4.page__title-h4 Ферментированные овощи и соусы, пробиотики
                    p.page__text Мы наполним Вашу микрофлору заботливыми помощниками
                .article-items__item
                    .page__icon.page__icon_glutenFree
                    h4.page__title-h4 Без муки, рафинированных и консервированных продуктов
                    p.page__text Насыщение будет проходить равномерно и легко
                .article-items__item
                    .page__icon.page__icon_water
                    h4.page__title-h4 Активированные и замоченные живые продукты
                    p.page__text 12 часов в чистой воде проводят наши крупы и бобовые перед использованием в готовке
        .wrapper.article_wrapper 
            .article-info
                .article-info__bg
                    h2.page__title-h2.page_desktop рационы Holy Basil объединяют знания современной нутрициологии и древней Аюрведы 
                    h2.page__title-h2.page_mobile Если хотя бы три пункта про вас, тогда вы в правильном месте
                    p.page__text.page_desktop Наше меню разработанно экспертами здорового питания и основывается на принципах баланса и сочетания нутриентов для раскрытия максимальной пользы продуктов
                    p.page__text.page_mobile Осень – пора авитаминозов и лучшее время, чтобы заняться здоровьем. Вирусные заболевания обостряются и сильнее хочется иметь нормальный иммунитет и быть продуктивным, а не сидеть с насморком или того хуже с covid-19.

                    img.page__img(src="assets/img/img-leaves-right-2.png", alt="")
                    img#tiger.img-bg.img-bg_tiger(src="assets/img/img-tiger.png", alt="")
                    img#leafs.img-bg.img-bg_leafs(src="assets/img/img-leafs.png", alt="")
                