section#banner.banner
        
        .img-bg.img-bg_holybottle
            img.page__img(src="assets/img/img-holy-2.svg", alt="")
            
        //- .img-bg.img-bg_right-bottom
        //-     img.page__img(src="assets/img/img-leaves-right.svg", alt="")
        .img-bg.img-bg_left-bottom.page_mobile
            img.page__img(src="assets/img/img-leaves-left.svg", alt="")
        .img-bg.img-bg_fish
            img.page__img(src="assets/img/img-fish.svg", alt="")
        .img-bg.img-bg_serfer
            img.page__img(src="assets/img/img-serfer-1.svg", alt="")
        
        .wrapper
            .banner-content
                h1.page__title-h1 Оздоравливающие рационы Holy Basil с&nbsp;доставкой на&nbsp;дом
                    .teaser-circle
                        img.teaser-circle__text(src="assets/img/img-text-white.png", alt="")
                        img.teaser-circle__icon(src="assets/img/img-round-text-white.png", alt="")
                p.page__text.page_desktop Наше меню разработанно экспертами здорового питания и основывается на принципах баланса и сочетания нутриентов для раскрытия максимальной пользы продуктов
                p.page__text.page_mobile Все, что поможет тебе выстроить здоровую микрофлору кишечника и не болеть. Ты получишь все необходимые аминокислоты и нутриенты в оптимальном количестве и каждая калория будет полезной.

                a.page__btn(href="#menu") МЕНЮ И РАЦИОНЫ
section#bannerInfo.banner-info
    #bottle.img-bg.img-bg_holy-main.img-bg_right-top.img-bg_holybottleMain.page_desktop
            img.page__img(src="assets/img/img-holy-2.png", alt="")
            .banner-info-content.page_desktop
                .text-center.page__text Легкое усвоение 
                .text-center.page__text Здоровая микрофлора
                .text-center.page__text Высокий метаболизм 
                .text-center.page__text Чистый состав
                .text-center.page__text Насыщенный вкус
                .text-center.page__text Экологичная упаковка 
   
    .img-bg.img-bg_tofu
            img.page__img(src="assets/img/img-tofu-1.png", alt="")
    .img-bg.img-bg_bas
            img.page__img(src="assets/img/img-bas-1.png", alt="")
    .img-bg.img-bg_sol
            img.page__img(src="assets/img/img-sol-1.png", alt="")
    .img-bg.img-bg_seas
            img.page__img(src="assets/img/img-seas-1.png", alt="")
    .banner-info-content.page_mobile
        .img-bg.img-bg_holy.page_mobile
            img.page__img(src="assets/img/img-holy-2.png", alt="")
        .text-center.page__text Легкое усвоение 
        .text-center.page__text Здоровая микрофлора
        .text-center.page__text Высокий метаболизм 
        .text-center.page__text Чистый состав
        .text-center.page__text Насыщенный вкус
        .text-center.page__text Экологичная упаковка