section#ecoSlider.eco-slider
    .wrapper
        .slider
            
            .slider__text
                h1.page__title-h1.page_desktop Команда Holy Basil
                h1.page__title-h1.page_mobile Holy Basil — это что?
                p.page__text.page_desktop Кафе Holy Basil основано в 2017 году адептами здорового образа жизни - Виктором и Ульяной. Holy Basil (Туласи или Базилик свяще́нный) — растение, которое тысячи лет используют в лечебных целях и в кулинарии.
                p.page__text.page_mobile Мы живая оффлайн-компания, в гости к которой можно прийти. Живая оффлайн-компания, в гости к которой можно прийти.
                button.page__btn.open-modal(data-modal="modal-callback") Связаться с нами
            .slider__img
                .slider__continer
                    .slide
                        .page__img
                            img(src="assets/img/img-eco-slider.png", alt="")
                    .slide
                        .page__img
                            img(src="assets/img/img-eco-slider.png", alt="")
                    .slide
                        .page__img
                            img(src="assets/img/img-eco-slider.png", alt="")
                .slider__toggles
                    .slider__nav
                        .slider__nav-number.active 01
                        .slider__nav-number 02
                    .slider__actions
                        button.page__btn_prev
                        button.page__btn_next
                .page__text.page__text_bold г. Москва, Цветной б-р, д.23
