section.eco
    .wrapper
        .eco__text
            h1.page__title-h1.page_desktop Мы Заботимся об экологии
            h1.page__title-h1.page_mobile Как рационы доставляются?
            p.page__text.page_desktop Все наши рационы доставляются в стеклянных банках, которые мы заберём обратно, чтобы подарить им новую жизнь. Остальная упаковка и приборы сделана из биологически разлагаемого кукурузного крахмала.
            p.page__text.page_mobile Вся еда доставляется прямо до вашей двери в экологичных стеклянных баночках, которые мы с радостью заберём обратно))

        .eco__img
            .page__img
                img(src="assets/img/img-eco.png", alt="")
                .page__icon
                    .page__icon_rec-white