footer.footer
    .wrapper
            .footer__logo
                a(href="#banner")
                    img.page__img(src="assets/img/logo.png", alt="")
            .footer__actions
                a.page__link(href="tel:+7 (495) 120-03-30") +7 (495) 120-03-30
                button.page__btn.open-modal(data-modal="modal-callback") Обратный звонок
            
            .footer__links
                .copyright © 2017-2020. Holy Basil
                a.page__link(href="javascript:void(0);") Пользовательское соглашение
                a.page__link(href="javascript:void(0);") Доставка возврат и оплата
            .footer__social
                .page__icon.page__icon_instagram
            
        
        
