header.header
    .header-container
        .header__logo
            a(href="#banner")
                img.page__img(src="assets/img/logo.png")
        .header__nav
            nav.page__nav
                a.page__link(href="#rationMenu") Программа 
                a.page__link(href="#rationForm") Доставка 
                a.page__link(href="#menu") Меню 
                a.page__link(href="#ecoSlider") О компании
        .header__actions
            a.page__link(href="tel:+7 (495) 120-03-30") +7 (495) 120-03-30
            button.page_desktop.page__btn.open-modal(data-modal="modal-callback") Обратный звонок
            button.page_mobile.page__btn.page__btn_circle.page__btn_menu.open-modal(data-modal="modal-menu") 
                .line