
section#modal-menu.modal.modal-menu.page_hidden
    .modal-container
        .modal__action
            button.page__btn.page__btn_close.close-modal(data-modal="modal-menu")
        .modal__content
            nav.page__nav
                a.page__link(href="#rationMenu") Программа 
                a.page__link(href="#rationForm") Доставка 
                a.page__link(href="#menu") Меню 
                a.page__link(href="#ecoSlider") О компании
            
        .img-bg.img-bg_serfer
            img.page__img(src="assets/img/img-serfer-2.png", alt="")  