section.ration-info
    .wrapper
        .ration-info-container
            .ration-info-container__text
                h1.page__title-h1.page_desktop Важно!
                    br
                    | Количество доступных рационов ограничено
                h1.page__title-h1.page_mobile Важно!
                    br
                    | Количество рационов лимитировано нашими мощностями
                p.page__text.page_desktop Нам очень важно, чтобы вы получили продукт уникального качества. Каждый рацион собран руками и с любовью.
                p.page__text.page_mobile Пока мы можем создавать и доставлять только 50 рационов в день. И каждый из них собран руками и с любовью. 
            .ration-info-container__img
                .page__img
                    video(src="assets/video/video-ration-info.mp4" autoplay="true" muted="muted" loop="loop" id="videoRationInfo" poster="assets/img/img-ration-info.png")
                    
                    .teaser-circle
                        img.teaser-circle__text(src="assets/img/img-text-green.png", alt="")
                        img.teaser-circle__icon(src="assets/img/img-round-text-green.png", alt="")