section#rationMenu.ration-menu
    .wrapper
        h1.page__title-h1 Из чего состоит HEALTHY RATION 
        .slider__toggles
                .slider__nav
                    .slider__nav-number.active 01
                    .slider__nav-number 02
                .slider__actions
                    button.page__btn_prev
                    button.page__btn_next
        .slider
            
            .slider__continer
                .slide
                    .slide-content
                        .slide-content__img
                            img.page__img(src="assets/img/img-diet-1.png", alt="")
                        .slide-content__text
                            h3.page__title-h3 растительный рацион с рыбой
                           
                            ul.page__lists
                                li.page__list.page__list-header
                                    .name.page__text.page__text_bold Основное меню 
                                    .value 1503 ккал
                                li.page__list 
                                    .time-of-day.page__text.page__text_bold Завтрак
                                    .page__text Chocolate Waffle, Holy Berry smoothie
                                li.page__list 
                                    .time-of-day.page__text.page__text_bold Обед
                                    .page__text Carrot cream with wacame, Вeans & Pesto
                                li.page__list 
                                    .time-of-day.page__text.page__text_bold Ужин
                                    .page__text Tofu Nori Pasta
                                li.page__list.page__list-header
                                    .name.page__text.page__text_bold Дополнительно
                                    .value 298 ккал
                                li.page__list 
                                    .time-of-day.page__text.page__text_bold Десерт
                                    .page__text Blackcurrant Yogurt
                .slide
                    .slide-content
                        .slide-content__img
                            img.page__img(src="assets/img/img-diet-1.png", alt="")
                        .slide-content__text
                            h3.page__title-h3 Растительный рацион
                            ul.page__lists
                                li.page__list.page__list-header
                                    .name.page__text.page__text_bold Основное меню 
                                    .value 1503 ккал
                                li.page__list 
                                    .time-of-day.page__text.page__text_bold Завтрак
                                    .page__text Chocolate Waffle, Holy Berry smoothie
                                li.page__list 
                                    .time-of-day.page__text.page__text_bold Обед
                                    .page__text Carrot cream with wacame, Вeans & Pesto
                                li.page__list 
                                    .time-of-day.page__text.page__text_bold Ужин
                                    .page__text Tofu Nori Pasta
                                li.page__list.page__list-header
                                    .name.page__text.page__text_bold Перекус
                                    .value 298 ккал
                                li.page__list 
                                    .time-of-day.page__text.page__text_bold Десерт
