section.testimonials
    .wrapper
        .testimonials__text
            h1.page__title-h1 Что говорят о&nbsp;нас клиенты?
            p.page__text Буквально все участники тестовой фокус-группы в восторге от наших рационов.

        .testimonials__slider
            .slider
                .slider__continer
                    .slide
                        .slide__video
                            video(src="assets/video/video-testimonial-1.MP4" controls muted="muted" id="videoRationInfo" poster="assets/img/img-testimonials.png")
                          
                            .page__icon_video
                                
                        .page__text.page__text_bold «Наши программы питания разработаны с учетом современных исследований в области нутрициологии и диетологии!»
                        .page__text.page__text_subtext 
                            span.name.page__text_bold Олеся Терещенко /  
                            span.profession сертифицированный health-коуч
                    .slide
                        .slide__video
                            video(src="assets/video/video-testimonial-2.MOV" controls muted="muted" id="videoRationInfo" poster="assets/img/img-testimonials.png")
                            .page__icon_video
                        .page__text.page__text_bold «Наши программы питания разработаны с учетом современных исследований в области нутрициологии и диетологии!»
                        .page__text.page__text_subtext 
                            span.name.page__text_bold Олеся Терещенко /  
                            span.profession сертифицированный health-коуч
                    .slide
                        .slide__video
                            video(src="assets/video/video-testimonial-3.MOV" controls muted="muted" id="videoRationInfo" poster="assets/img/img-testimonials.png")
                            .page__icon_video
                        .page__text.page__text_bold «Наши программы питания разработаны с учетом современных исследований в области нутрициологии и диетологии!»
                        .page__text.page__text_subtext 
                            span.name.page__text_bold Олеся Терещенко /  
                            span.profession сертифицированный health-коуч
                    .slide
                        .slide__video
                            video(src="assets/video/video-testimonial-4.MOV" controls muted="muted" id="videoRationInfo" poster="assets/img/img-testimonials.png")
                            .page__icon_video
                        .page__text.page__text_bold «Наши программы питания разработаны с учетом современных исследований в области нутрициологии и диетологии!»
                        .page__text.page__text_subtext 
                            span.name.page__text_bold Олеся Терещенко /  
                            span.profession сертифицированный health-коуч
                    .slide
                        .slide__video
                            video(src="assets/video/video-testimonial-5.MOV" controls muted="muted" id="videoRationInfo" poster="assets/img/img-testimonials.png")
                            .page__icon_video
                        .page__text.page__text_bold «Наши программы питания разработаны с учетом современных исследований в области нутрициологии и диетологии!»
                        .page__text.page__text_subtext 
                            span.name.page__text_bold Олеся Терещенко /  
                            span.profession сертифицированный health-коуч
                    .slide
                        .slide__video
                            video(src="assets/video/video-testimonial-7.MP4" controls muted="muted" id="videoRationInfo" poster="assets/img/img-testimonials.png")
                            .page__icon_video
                        .page__text.page__text_bold «Наши программы питания разработаны с учетом современных исследований в области нутрициологии и диетологии!»
                        .page__text.page__text_subtext 
                            span.name.page__text_bold Олеся Терещенко /  
                            span.profession сертифицированный health-коуч
                .slider__bg
                .slider__bg
                .slider__actions
                    .slider__nav.page_mobile
                        .slider__nav-number.active 01
                        .slider__nav-number 02
                    button.page__btn_prev
                    button.page__btn_next