extends templates/template

block title
	title Holy Basil Sourse
block append style
block content
	main.page
		include modules/header-module
		include blocks/banner
		include blocks/article
		include blocks/ration-menu
		include blocks/menu
		include blocks/advantages
		include blocks/ration-info
		include blocks/ration-form
		include blocks/eco
		include blocks/eco-slider
		include blocks/testimonials
		include blocks/form-callback
		include blocks/footer
		include blocks/modal
		include blocks/modal-menu
block append script